spring:
  application:
    name: BaseSecurityFront
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    cache: false
  profiles:
    active:
    - local
    
tomcat:
  ajp:
    protocol: AJP/1.3
    enabled: true
    
server:
  error:
    whitelabel:
      enabled: false
  servlet:
    encoding:
      charset: UTF-8 
      enabled: true
      force: true
    session:
      timeout: 20m  # 스프링 시큐리티에서 안되는 경우, Java 단에서 직접 설정
      
security:
  session:
    timeout: 1200